{
    frankenphp
    order php_server before file_server
}

# The domain name of your server
localhost {
    # Enable compression (optional)
    encode zstd gzip
    # Execute PHP files in the current directory and serve assets
    php_server
}
