parameters:
    level: 9
    paths:
        - src
    scanFiles:
        - vendor/yiisoft/yii2/Yii.php
        - vendor/craftcms/cms/src/Craft.php
        - vendor/craftcms/cms/src/behaviors/CustomFieldBehavior.php.template
    stubFiles:
        - stubs/craft/web/View.stub
    excludePaths:
        - src/phpstan/ThrowIfTypeSpecifyingExtension.php
        - src/phpstan/AbortIfFunctionTypeSpecifyingExtension.php
    ignoreErrors:
        - '#Unable to resolve the template type TMapValue in call to method#'
        - '#Unable to resolve the template type T in call to method craft\\services\\Elements::getElementById\(\)#'
