{% export category = "Containers" %}
{% export isDependent = true %}
{% export propTypes = {
    label: field('craft\\fields\\PlainText')
} %}
{% do component.getType().defineSlot('label') %}
<div {{ attributes }}>
    {% slot %}{% endslot %}
</div>
