{% from '_includes/forms' import field as renderField, textField %}
<div class="k-grid k-grid-cols-2 k-gap-6">
    {{ textField({
        'label': 'Space X',
        'name': name ~ '[x]',
        'value': value.x|default,
        'fieldClass': '!k-m-0',
    }) }}
    {{ textField({
        'label': 'Space Y',
        'name': name ~ '[y]',
        'value': value.y|default,
        'fieldClass': '!k-m-0',
    }) }}
</div>
