<div>
    {{ component.getType().defineSlot()
        .defaults([
            {type: 'keystone/text', data: {text: 'foo'}},
            {type: 'keystone/text', data: {text: 'bar'}},
        ]) }}
</div>
